@tailwind base;
@tailwind components;
@tailwind utilities;

/* 色を変数で置いておきたい */
:root{
  --dark_beige: #FCD58C;
  --black: #211715;
  --beige: #FDE4AD;
  --orange: #E57E47;
  --grey: #514E4B;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  text-align: center;
  /* background-color: var(--beige); */
  color: #514E4B;
  /* color:#211715; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  /* opacity: 0.4; */
  z-index: -1;
  background-image:  repeating-linear-gradient(45deg, var(--dark_beige) 25%, transparent 25%, transparent 75%, var(--dark_beige) 75%, var(--dark_beige)), repeating-linear-gradient(45deg, var(--dark_beige) 25%, #ffe9a7 25%, #ffe9a7 75%, var(--dark_beige) 75%, var(--dark_beige));
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
}

.main{
  display: flex;
}

.header_component {
  display: flex;
  justify-content: space-between;
}

header {
  text-align: left;
  height: 250px;
  line-height: 100px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  color:#211715;
  
}

header b{
  position: relative;
 margin: 40px auto auto 10px;
 padding: 0px 20px;
 width: 80%; /* ボックス幅 */
 background: #fdf5e6; /* ボックス背景色 */
 color: #333333; /* 文字色 */
 text-align: center; /* テキスト中央（不要なら行を削除） */
 border: 5px solid #F3983B; /* ボックス枠線(太さ・線種・色) */
 border-radius: 50px;
 box-shadow: 1px 1px 3px #acacac; /* ボックス影（不要なら行を削除） */
 z-index: auto;
}

header b::before, 
header b::after {
 height: 60px;
 width: 60px;
 position: absolute;
 content:'';
 top: -20px;
 z-index: -10;
}

header b::before {
 left: 20%;
 background: #555555; /* 左耳背景色 */
 border: 5px solid #F3983B; /* 左耳枠線(太さ・線種・色) */
 border-radius: 10px 50px 100px 50px;
 transform: rotate( 45deg );
 box-shadow: 1px -1px 3px #acacac; /* 耳の影（不要なら行を削除） */
}

header b::after {
 right: 20%;
 background: #B8824D; /* 右耳背景色 */
 border: 5px solid #F3983B; /* 右耳枠線(太さ・線種・色) */
 border-radius: 50px 10px 50px 100px;
 transform: rotate( -45deg );
 box-shadow: 1px 1px 3px #acacac; /* 耳の影（不要なら行を削除） */
}

.wrap{
 background-color: transparent;
 position: relative;
 z-index: 0;
}

header c {
  padding: 0.5em 0.1em 0.5em 0.9em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
  border-bottom: solid 5px #ffaf58;

}

header d {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
  border-bottom: solid 5px #ffaf58;

}

header a {
  margin: auto;
  display: inline-block;
}

header li{
  margin: -20px 0 0 0;
}

.about {
  margin: auto 30px auto auto;
  display: inline-block;
}

header ul {
  display: flex;
  list-style: none;
}

.main_nav {
  text-align: right;
}

.btn_con {
  margin-top: 50px;
}

.space{
 margin: auto; 
}

.box{
  margin: auto;
  height: 450px;
  width: 500px;
  position: relative;
  background: var(--orange);
  box-shadow: 0px 0px 0px 10px var(--orange);
  border: dashed 2px white; 
}

.box_about{
  margin: auto;
  height: 450px;
  width: 800px;
  position: relative;
  background: tan;
  box-shadow: 0px 0px 0px 10px tan;
  border: dashed 2px white; 
}

.box_class{
  margin: auto;
  height: 450px;
  width: 800px;
  position: relative;
  background: tan;
  box-shadow: 0px 0px 0px 10px tan;
  border: dashed 2px white; 
}

.content {
  margin-top:30px;
  color: #211715;
  font-weight: 500;
}

.neko {
  /* background-color: red; */
  /* 水平・垂直方向の中央揃え */
  position: absolute;
  margin: 0% 0 0 20%;
  /* top: 25%;
  left: 45%; */
  /* margin: ; 完全に中央に配置するため、上・左の margin を負の数に設定 */
}

.random_btn {
  border: 0;
  line-height: 2.5;
  padding: 10px 30px;
  font-size: 1rem;
  text-align: center;
  color:#F6E16D;
  border-radius: 10px;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-color: #514E4B;
  display: inline-block;
  text-decoration: none;
  margin-top:250px;
} 

h1{
  margin-top:20px;
  color: #211715;
  font-weight: 500;
  font-size: 25px;
}

.blank{
  font-size: 100%;
  text-align: center;
}

.description{
  font-size:110%;
  margin-top:20px
}

.line{
  text-align: left;
  margin:auto 10px auto 10px;
}

.this{
  text-align: center;
}

footer {
  width: 100%;
  height: 80px; 
  text-align: center;
  /* padding: 50px 0; */
  background-color: #bdb76b;
  position: fixed;
  bottom: 0;
  border-top: solid;
  /* line-height: 10px; */
}

.footer_component{
  text-align: center;
  margin: auto;
}

p{
  font-size: 20px;
  margin: auto auto 0px auto;
  line-height: 80px;
}

