@tailwind base;
@tailwind components;
@tailwind utilities;

/* 色を変数で置いておきたい */
/* 言霊 #FCD58C;
$岩が隠れ: #211715;
$タケノコ: #FDE4AD;
$ニンジン: #E57E47;
$トンネル: #514E4B; 
このフォルダの形式を.scssにしないと、変数が置けない*/


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  text-align: center;
  background-color: #FDE4AD;
  color: #514E4B;
  /* color:#211715; */
}

header {
  text-align: left;
  height: 100px;
  background-color: #E57E47;
  font-size: 30px;
  color:#211715;
}

header h1 {
  margin-left: 30px;
}

.btn_con {
  margin-top: 50px;
}

.content {
  margin-top:250px;
}

.random_btn {
  border: 0;
  line-height: 2.5;
  padding: 10px 30px;
  font-size: 1rem;
  text-align: center;
  color:#F6E16D;
  border-radius: 10px;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-color: #514E4B;
  display: inline-block;
  text-decoration: none;
} 
